* {
	margin: 0; 
	padding: 0; 
	border: 0; 
}

body {
	background: url(images/wall_1.jpg) no-repeat center center fixed;
	font-family: Arial, Verdana, Calibri, Helvetica; 
}

#main {
	background-color: white;
	width: 1000px;
	height: 1760px;
	margin: auto;
}

#header {
	background-color: white;
	border-bottom-style:solid;
	border-width: 1px;
	padding: 20px;
}

h1 {
	align-self: left;
	font-size: 45px;
	vertical-align: center;
}

#header img {
	float: left; 
	margin-right: 20px;
	margin-bottom: 20px;
}

#menu {
	background-color: #ccc;
	height: 50px;
}

#menu div {
	background-color: #ccc;
	float: left;
	height: 26px;
	width: 200px;
	text-align: center;
	font-size: 20px;
	padding: 12px;
}

#menu div:hover {
	background-color: #333;
	color: #fff;
}

#content {
	margin: auto;
	padding: 18px;
	padding-top: 40px;
	margin-bottom: auto;
}

#product {
	height: 380px;
	width: 280px;
	margin: 20px;
	margin-top: 30px;
	float: left;
	text-align: left;
}

#product:hover {
	color: #00f;
}

#product img {
	margin: auto;
	align-self: center;
	height: 80%;
}

h2, h3, h4 {
	padding-left: 10px;
	padding-top: 5px;
}

h2 {
	font-size: 26px;
}

#footer {
	height: 120px;
	margin: auto;
	margin-top: 80px;
	padding-top: 30px;
	float: left;
	width: 100%;
	text-align: center;
	background-color: white;
	border-top-style:solid;
	border-width: 1px;
}

h5, h6, p {
	font-family: Calibri;
	font-weight: lighter;
}

h5 {
	font-size: 40px;
}

p {
	font-size: 30px;
}
